[Desktop Entry]
Type=Application
Version=1.0
Name=teleop
Comment=oit_minibot_middle_02 joystick teleop
Exec=lxterminal -e "~/catkin_ws/src/oit_minibot_middle_02/scripts/teleop.sh"
Icon=oit_teleop
Terminal=false
