[Desktop Entry]
Type=Application
Version=1.0
Name=save map
Comment=oit_minibot_middle_02 save map
Exec=bash -c "~/catkin_ws/src/oit_minibot_middle_02/scripts/save_map.sh"
Icon=oit_save_map
Terminal=true
