[Desktop Entry]
Type=Application
Version=1.0
Name=navigation
Comment=oit_minibot_middle_02 navigation launcher
Exec=bash -c "~/catkin_ws/src/oit_minibot_middle_02/scripts/navigation.sh"
Icon=oit_navigation
Terminal=true
