[Desktop Entry]
Type=Application
Version=1.0
Name=devices
Comment=oit_minibot_middle_02 devices launcher
Exec=lxterminal -e "~/catkin_ws/src/oit_minibot_middle_02/scripts/devices.sh"
Icon=oit_devices
Terminal=false
