[Desktop Entry]
Type=Application
Version=1.0
Name=mapping
Comment=oit_minibot_middle_02 gmapping
Exec=lxterminal -e "~/catkin_ws/src/oit_minibot_middle_02/scripts/mapping.sh"
Icon=oit_mapping
Terminal=false
